<div class="container">
	<div class="row">
		<br>
	</div>
	<div class="row">
		<div class="text-center well">
			<%= image_tag @user.Img_File  %><br>
				<h2> <%= @user.user_name %></h2>
			Current City: <%= @user.current_city %><br>
			About: <%= @user.about %>
		</div>
	</div>
</div>

