<div class="container">
  <div class="row">
    <br>
  </div>
  <div class="row">
  <div>

  <% @cities.each do |city| %>

  <div>

  <div class="text-center cityscape <%=city.CityImg %>">
   
  <%= draw_map_of Location.new(city.name, city.lat, city.lng) %>

  <h3><%= link_to  city.name, city_path(city.id) %></h3>

  </div>
  <br>
  <% end %>




  </div>
  </div>
</div>

