<div class="container">
  <div class="row">
    <br>
  </div>
  <div class="row">
  
<% @cities.each do |city| %>
  <div>
  <div class="text-center well">
  <h3><%= link_to  city.name, city_path(city.id) %></h3>
    
    
    <% if @current_user %> 
      <%= button_to "Join", city_users_path(city) %>
    <% end %>
  </div>
  <br>
<% end %>
</div>
</div>
</div>