<div class="container">
  
  <div class="row">
  <div>

  <% @cities.each do |city| %>

  <div>

  <div class="text-center cityscape <%= city.CityImg.png %>">
    <br><br> <br>
   <h1 class="big"><%= link_to  city.name, city_path(city.id) %></h1>
  <%= draw_map_of Location.new(city.name, city.lat, city.lng) %>
  <br>
  </div>
  <% end %>




  </div>
  </div>
</div>

