// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.well {
	width: 90%;
	margin-left: 5%;
	background-color: rgba(250, 250, 250, .9);
	border-radius: 10px;
}

img {
	max-width: 150px;
	border-radius: 50%;
}

.jumbotron {
    position: relative;
    background: #000;
    overflow: hidden;
    color: white;
    padding-top: 75px;
}

.navbar {
	background: #000;
	padding-bottom: 15px;
	padding-top: -15px;
}

input,
#post_content,
#user_about{
	padding: 7px;
	border: solid 5px #c9c9c9;
	transition: border 0.3s;
	background: #CCFFFF;
	margin: 2px;
}

input:focus,
input.focus,
#post_content:focus,
#post_content.focus,
#user_about:focus,
#user_about.focus {
	border: solid 5px #969696;
}

.London{
	background: #000 url("London.png") no-repeat center fixed;
}
.SanFrancisco{
	background: #000 url("SanFrancisco.png") no-repeat center fixed;
}
.Cleveland{
	background: #000 url("Cleveland.png") no-repeat center fixed;
}
.NewYork{
	background: #000 url("NewYork.png") no-repeat center fixed;
}
.Boston{
	background: #000 url("Boston.png") no-repeat center fixed;
}
.splashpage{
	background: #000 url("splashpage.png") no-repeat center fixed;
}
.pageheader{
	color: white;
}
a:link{
	color: white;
}
a:visited{
	color: #CCFFFF;
}
a:hover{
	text-decoration: none;
	color: #affec4;
}
a:active{
	color: #6dddbc;
	;
}