<div class="jumbotron"><h1>Vagabond</h1></div>

<div class="container">
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">root</a>
        <a class="navbar-brand" data-toggle="modal" data-target="#loginModal">Login</a>
        <a class="navbar-brand" data-toggle="modal" data-target="#createModal">Create</a>
      </div>
    </div>
  </nav>
</div>